<section class="spotlight">
  <h2 class="spotlight__header">
    <span class="spotlight__header--prefix">Media Spotlight</span>
    <%= link_to "#{Work.find(Work.spotlight).title}", work_path(Work.spotlight), class: "spotlight__link-to" %> by <%=Work.find(Work.spotlight).creator%>
  </h2>
  <p class="spotlight__description">
    23 votes - An orphaned boy enrolls in a school of wizardry, where he learns the truth about himself, his family and the terrible evil that haunts the magical world.
  </p>
</section>

<hr class="root__hr">

<section class="top-ten__container">
  <%= render partial: "top_ten_list", locals: { action_name: "movie" } %>

  <%= render partial: "top_ten_list", locals: { action_name: "book" } %>

  <%= render partial: "top_ten_list", locals: { action_name: "album" } %>
</section>
